* {
  padding: 0;
  margin: 0;
}

body{
  width: 100vw!important;
  height: 100vh!important;
}

#addButton{
  top: 80%;
  left: 55%;
}

#uploadButton{
  top: 80%;
  left: 45%;
}

.button{
  position: absolute;
}

.container {
  position: absolute;
}

#panel {
  position: relative;
}

#display{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 90%;
  outline: auto;
  outline-color: black;
}

#buttons {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
}