* {
  padding: 0;
  margin: 0;
}

#main{
  display: flex;
  width: 150px;
  height: 150px;
}
/* palette: #0C0032 #190061 #240090 #3500D3 #282828 */

#panel1, #panel2, #panel3 {
  outline: 1px solid #0c0032;
}

#panel1 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0px;
  left: 0px;
}

#panel2 {
  position: absolute;
  width: 250px;
  height: 500px;
  top: 250px;
  left: 250px;
}

#panel3 {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 0px;
  left: 250px;
}
